CubeEngineDev/CubeEngineDev.xcodeproj/project.xcworkspace/xcshareddata/CubeEngineDev.xccheckout
CubeEngineDev/CubeEngineDev.xcodeproj/project.xcworkspace/xcuserdata/chance.xcuserdatad/UserInterfaceState.xcuserstate
.DS_Store